In [ ]:
import pandas as pd

In [ ]:
# Make sure to create the folder where you would use (ipynb , csv files ... etc) before using the notebook !
# Any edits made to the csv file will reflect on restarting the kernel 
raw_csv_data = pd.read_csv("Absenteeism_data.csv")

In [ ]:
raw_csv_data.head()

In [ ]:
#creating a copy of the original csv file (Data at a glance)
#df : data frame 
df = raw_csv_data.copy()

In [ ]:
df.head()

In [ ]:
# Used to display all the rows and columns 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [ ]:
type(raw_csv_data)

In [ ]:
raw_csv_data

In [ ]:
# A good indicator for a python programmar to ensure complete dataset with no missing entries 
df.info()

In [ ]:
df.describe()

In [ ]:
# to see the values of all columns 
df.columns.values

In [ ]:
# "Reason for Absence" code does not have a numerical value (It's a categorical nominal) , we will split it into columns
# Quantitative Analysis is giving those categorical nominal data , a numerical meaning 
# One of the ways to do so , is creating dummy variables : self explanatory binary value that equals 1 if the categorical effect is present and 0 otherwise


# Manipulation step 1 : Split Reasons for Absence into dummy variables outside the df
# Manipulation step 2 : Group the splitted dummy variables into categories
# Manipulation Step 3 : Merge with df after removing the original column

reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True)
# Now we're going to drop reason 0 to avoid multicollinearity (when one variable can be predicted from the others with a high degree of accuracy)
# Multicollinearity is a statistical concept where several independent variables in a model are correlated with each other
reason_columns.head()
# After removing the zero column , the check sum is no longer = 700 and is no longer unique now !!

In [ ]:
# We can consider this (before removing column zero , as a check for logic data ~ No absence for more than 1 reason)
# by doing <dataframe_name>['new_column'] it is added to the end , but this method intializes the new column while adding it
reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns.head()

In [ ]:
reason_columns['check'].sum(axis=0)
# for each reason it counts its occurence 
# reason_columns.sum(axis=0)

In [ ]:
reason_columns['check'].unique()
# expected to be 1 , 0 since there's no other values such as missing or multiple reasons
# if 0 appears , missing data 
# if >1 appears , duplicate data

In [ ]:
reason_columns = reason_columns.drop(['check'], axis = 1)
reason_columns.head()

In [ ]:
reason_columns.loc[:,15:17]

In [ ]:
# with 27 dummy variables , we should consider grouping them into categories
# Grouping the dummy variables into 4 categories = Classing them (classification)
# Classification : re-organizing variables into groups in a regression analysis
# Reason 1 - 14 : Various Diseases
# Reason 15 - 17 : Pregnancy
# Reason 18 - 21 : Poisoning
# Reason 22 - 28 : Light Diseases

# the obtained object is called panda series and not data frame (As well as every other column in the data frame)
reason_type_1 = reason_columns.loc[:,1:14].max(axis = 1)
reason_type_2 = reason_columns.loc[:,15:17].max(axis = 1)
reason_type_3 = reason_columns.loc[:,18:21].max(axis = 1)
reason_type_4 = reason_columns.loc[:,22:].max(axis = 1)

reason_columns.loc[:,15:17].max(axis = 1)

In [ ]:
reason_type_2.info()

In [ ]:
# drop the Reason for Absence , ID columns from the dataset
# axis 0 stands for the y-axis , while axis 1 stands for the x axis 
df.drop(['ID'], axis = 1) 
# drop function shows the data frame after removing the column , it is a temporary output and it doesn't yet reflect the frame
# Use these lines for permenantly deleting the ID column
df = df.drop(['ID'], axis = 1)

df = df.drop(['Reason for Absence'],axis = 1)

In [ ]:
df.head()

In [ ]:
df = pd.concat([df,reason_type_1,reason_type_2,reason_type_3,reason_type_4], axis=1)

In [ ]:
df.head()

In [ ]:
# Now as we look to the concatenated data frame , [0,1,2,3] seems strange , we need to rename them 
df.columns.values

In [ ]:
new_column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason 1', 'Reason 2', 'Reason 3', 'Reason 4']

In [ ]:
df.columns = new_column_names
df.head()

In [ ]:
# Reorder columns 
ordered_column_names = ['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4' ,'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']
# this is not valid , it only renames but does not order 
## df.columns = ordered_column_names
# instead , you have to do so 
df = df[ordered_column_names]
df.head()
# By doing this only , Wrong data are put with wrong labels

In [ ]:
#two ways of extracting unique elements in a column
df['Body Mass Index'].unique()

In [ ]:
pd.unique(df['Body Mass Index'])

In [ ]:
print(df['Body Mass Index'].min())
print(df['Body Mass Index'].max())
print(len(pd.unique(df['Body Mass Index'])))

In [ ]:
sorted(df['Body Mass Index'].unique())

In [34]:
#Creating a checkpoint by creating a copy for the current state of the df 
df_reason_mod = df.copy()  # version of reasons reordering 
df_reason_mod[:7]

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07-07-15,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14-07-15,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15-07-15,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16-07-15,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23-07-15,289,36,33,239.554,30,1,2,1,2
5,0,0,0,1,10-07-15,179,51,38,239.554,31,1,0,0,2
6,0,0,0,1,17-07-15,361,52,28,239.554,27,1,1,4,8

In [35]:
# Moving to the date column 
# Now we define the 'time stamp' data type (Don't forget the format or ...) 
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
# we notice after doing so , it's a panda series of timestamp datatypes but .... at display !   
print(type(df_reason_mod['Date'][0]))
# displaying without using the format , you will notice that on record 5 that the month is 10 and not 7 , an error caused
print(df_reason_mod['Date'].loc[:7])
# going back to last check point (I should have rerun the cell, but am showing the difference in the formats)

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
0   2015-07-07
1   2015-07-14
2   2015-07-15
3   2015-07-16
4   2015-07-23
5   2015-10-07
6   2015-07-17
7   2015-07-24
Name: Date, dtype: datetime64[ns]

In [36]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'])
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format ='%D/%m/%Y')
print(df_reason_mod['Date'].loc[:7])
print(type(df_reason_mod['Date'].info()))

0   2015-07-07
1   2015-07-14
2   2015-07-15
3   2015-07-16
4   2015-07-23
5   2015-10-07
6   2015-07-17
7   2015-07-24
Name: Date, dtype: datetime64[ns]
<class 'pandas.core.series.Series'>
RangeIndex: 700 entries, 0 to 699
Series name: Date
Non-Null Count  Dtype
--------------  -----
700 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 5.6 KB
<class 'NoneType'>

In [37]:
df_reason_mod['Date'][0]

Timestamp('2015-07-07 00:00:00')

In [38]:
df_reason_mod['Date'][0].month

7

In [42]:
df_reason_mod.shape

(700, 15)

In [43]:
list_months = []
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [44]:
list_months
df_reason_mod['Month Value'] = list_months
df_reason_mod.head(20)

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7
5,0,0,0,1,2015-10-07,179,51,38,239.554,31,1,0,0,2,10
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7
8,0,0,1,0,2015-06-07,155,12,34,239.554,25,1,2,0,40,6
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7
10,1,0,0,0,2015-07-20,260,50,36,239.554,23,1,4,0,8,7
11,1,0,0,0,2015-07-14,260,50,36,239.554,23,1,4,0,8,7
12,1,0,0,0,2015-07-15,260,50,36,239.554,23,1,4,0,8,7
13,1,0,0,0,2015-07-15,179,51,38,239.554,31,1,0,0,1,7
14,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,4,7
15,1,0,0,0,2015-07-17,246,25,41,239.554,23,1,0,0,8,7
16,0,0,0,1,2015-07-17,179,51,38,239.554,31,1,0,0,2,7
17,0,0,1,0,2015-07-27,179,51,38,239.554,31,1,0,0,8,7
18,1,0,0,0,2015-07-30,189,29,33,239.554,25,1,2,2,8,7
19,0,0,0,1,2015-05-08,248,25,47,205.917,32,1,2,1,2,5

In [46]:
#Monday : 0 ---> Sunday:6
df_reason_mod['Date'][699].weekday()

int

In [47]:
def date_to_weekday(ts):
    return ts.weekday()

In [49]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [66]:
df_date_mod = df_reason_mod.copy()
df_date_mod.head(10)

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3
5,0,0,0,1,2015-10-07,179,51,38,239.554,31,1,0,0,2,10,2
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7,4
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7,4
8,0,0,1,0,2015-06-07,155,12,34,239.554,25,1,2,0,40,6,6
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7,0

In [56]:
print(type(df_date_mod['Transportation Expense'][0]))
print(type(df_date_mod['Distance to Work'][0]))
print(type(df_date_mod['Daily Work Load Average'][0]))
print(type(df_date_mod['Age'][0]))
print(type(df_date_mod['Body Mass Index'][0]))
print(type(df_date_mod['Education'][0]))

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>

In [67]:
df_date_mod['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [68]:

df_date_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [69]:
# creating dummy variables using map (0 for highschool , 1 for others)
# mapping {highschool->0 key:value}
df_date_mod['Education'] = df_date_mod['Education'].map({1:0,2:1,3:1,4:1})
# if number of keys != number of values that will result in either naN or error 
# 1,2,3,4 are keys and [0,1] are values to these keys

In [70]:
df_date_mod['Education'].unique()

array([0, 1], dtype=int64)

In [71]:
df_date_mod['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [ ]:
df_date_mod = df_date_mod.drop(['Date'], axis = 1)

In [75]:
df_preprocessed = df_date_mod.copy()
df_preprocessed.head(15)
df_preprocessed.describe()

,Reason 1,Reason 2,Reason 3,Reason 4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
count,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,0.250000,0.008571,0.090000,0.597143,222.347143,29.892857,36.417143,271.801774,26.737143,0.167143,1.021429,0.687143,6.761429,6.897143,2.410000
std,0.433322,0.092250,0.286386,0.490823,66.312960,14.804446,6.379083,40.021804,4.254701,0.373370,1.112215,1.166095,12.670082,3.342319,1.761669
min,0.000000,0.000000,0.000000,0.000000,118.000000,5.000000,27.000000,205.917000,19.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,179.000000,16.000000,31.000000,241.476000,24.000000,0.000000,0.000000,0.000000,2.000000,4.000000,1.000000
50%,0.000000,0.000000,0.000000,1.000000,225.000000,26.000000,37.000000,264.249000,25.000000,0.000000,1.000000,0.000000,3.000000,7.000000,2.000000
75%,0.250000,0.000000,0.000000,1.000000,260.000000,50.000000,40.000000,294.217000,31.000000,0.000000,2.000000,1.000000,8.000000,10.000000,4.000000
max,1.000000,1.000000,1.000000,1.000000,388.000000,52.000000,58.000000,378.884000,38.000000,1.000000,4.000000,8.000000,120.000000,12.000000,6.000000

# Recap 
## Preprocessing stage : In a nutshell , It's the stage where you need to get your data complete , correlated (later on using regression) and has a numerical meaning for the python libraries to work on
### you can use .info() or .describe() to get insights for the data infront of you 
####   - .info() : displays the count of records + type of each record 
####   - .describe() : returns statistical info (count , mean , std,min,max,quartiles)
### after checking on missing entries , We have three categories of data 
#### i) useless and deluding data : such as IDs , we can omit them 
#### ii) categorical data : we can convert them into meaningful numbers using quantitative analysis either by 
#####      1- Creating predefined (automated) dummy variables by using pandas get_dummies (splits itself into external dataframe derived from chosen one)
#####      2- Creating user-defined dummy variables by using the map function (changes the column in its place)
#### iii) Dates : we make sure to convert them into Timestamps with defined format on our choice 

# Important Notes 
## 1- Make sure to be working on a copy from the original file 
## 2- Make sure to be saving checkpoints (so you only run 1 needed cell) 
## 3- No reflection occurs to the files unless the kernel is restarted 
## 4- No reflection occurs from the drop function if no assignment statement is used (it gives only a temporary output for the expected shape after drop)
## 5- useful keywords to look for in this notebook (loc,head,value_counts,map,weekday,apply,.to_datetime,concat,shape)
## 6- Renaming columns method is different to reordering them