In [1]:
import pandas as pd

In [2]:
# Make sure to create the folder where you would use (ipynb , csv files ... etc) before using the notebook !
# Any edits made to the csv file will reflect on restarting the kernel 
raw_csv_data = pd.read_csv("Absenteeism_data.csv")

In [3]:
raw_csv_data.head(20)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07-07-15,289,36,33,239.554,30,1,2,1,4
1,36,0,14-07-15,118,13,50,239.554,31,1,1,0,0
2,3,23,15-07-15,179,51,38,239.554,31,1,0,0,2
3,7,7,16-07-15,279,5,39,239.554,24,1,2,0,4
4,11,23,23-07-15,289,36,33,239.554,30,1,2,1,2
5,3,23,10-07-15,179,51,38,239.554,31,1,0,0,2
6,10,22,17-07-15,361,52,28,239.554,27,1,1,4,8
7,20,23,24-07-15,260,50,36,239.554,23,1,4,0,4
8,14,19,06-07-15,155,12,34,239.554,25,1,2,0,40
9,1,22,13-07-15,235,11,37,239.554,29,3,1,1,8
10,20,1,20-07-15,260,50,36,239.554,23,1,4,0,8
11,20,1,14-07-15,260,50,36,239.554,23,1,4,0,8
12,20,11,15-07-15,260,50,36,239.554,23,1,4,0,8
13,3,11,15-07-15,179,51,38,239.554,31,1,0,0,1
14,3,23,15-07-15,179,51,38,239.554,31,1,0,0,4
15,24,14,17-07-15,246,25,41,239.554,23,1,0,0,8
16,3,23,17-07-15,179,51,38,239.554,31,1,0,0,2
17,3,21,27-07-15,179,51,38,239.554,31,1,0,0,8
18,6,11,30-07-15,189,29,33,239.554,25,1,2,2,8
19,33,23,05-08-15,248,25,47,205.917,32,1,2,1,2

In [5]:
#creating a copy of the original csv file (Data at a glance)
#df : data frame 
df = raw_csv_data.copy()

In [6]:
# Sum based on conditions 
df.loc[(df['ID'] == 20) & (df['Reason for Absence'] == 1), 'Absenteeism Time in Hours'].sum()

16

In [7]:
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07-07-15,289,36,33,239.554,30,1,2,1,4
1,36,0,14-07-15,118,13,50,239.554,31,1,1,0,0
2,3,23,15-07-15,179,51,38,239.554,31,1,0,0,2
3,7,7,16-07-15,279,5,39,239.554,24,1,2,0,4
4,11,23,23-07-15,289,36,33,239.554,30,1,2,1,2

In [8]:
# Used to display all the rows and columns 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [9]:
type(raw_csv_data)

pandas.core.frame.DataFrame

In [ ]:
raw_csv_data

In [ ]:
# A good indicator for a python programmar to ensure complete dataset with no missing entries 
df.info()

In [ ]:
df.describe()

In [ ]:
# to see the values of all columns 
df.columns.values

In [10]:
# "Reason for Absence" code does not have a numerical value (It's a categorical nominal) , we will split it into columns
# Quantitative Analysis is giving those categorical nominal data , a numerical meaning 
# One of the ways to do so , is creating dummy variables : self explanatory binary value that equals 1 if the categorical effect is present and 0 otherwise


# Manipulation step 1 : Split Reasons for Absence into dummy variables outside the df
# Manipulation step 2 : Group the splitted dummy variables into categories
# Manipulation Step 3 : Merge with df after removing the original column

reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first=True , dtype=int) 
# is equivalent to these two lines 
# reason_columns = pd.get_dummies(df['Reason for Absence'])
# reason_columns = reason_columns.drop([0], axis = 1)
# Now we're going to drop reason 0 to avoid multicollinearity (when one variable can be predicted from the others with a high degree of accuracy)
# Multicollinearity is a statistical concept where several independent variables in a model are correlated with each other
reason_columns.head()
# After removing the zero column , the check sum is no longer = 700 and is no longer unique now !!

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [11]:
# We can consider this (before removing column zero , as a check for logic data ~ No absence for more than 1 reason)
# by doing <dataframe_name>['new_column'] it is added to the end , but this method intializes the new column while adding it
reason_columns['check'] = reason_columns.sum(axis=1)
reason_columns.head(20)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28,check
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1
10,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
13,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
15,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
18,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1

In [12]:
reason_columns['check'].sum(axis=0)
# for each reason it counts its occurence 
# reason_columns.sum(axis=0)

662

In [13]:
reason_columns['check'].unique()
# expected to be 1 , 0 since there's no other values such as missing or multiple reasons
# if 0 appears , missing data 
# if >1 appears , duplicate data

array([1, 0], dtype=int64)

In [14]:
reason_columns = reason_columns.drop(['check'], axis = 1)
reason_columns.head(50)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,26,27,28
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
32,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
35,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
36,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
37,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
39,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
40,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
41,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
43,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
44,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
46,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
48,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
49,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
reason_columns.loc[:,15:17]

     15  16  17
0     0   0   0
1     0   0   0
2     0   0   0
3     0   0   0
4     0   0   0
5     0   0   0
6     0   0   0
7     0   0   0
8     0   0   0
9     0   0   0
10    0   0   0
11    0   0   0
12    0   0   0
13    0   0   0
14    0   0   0
15    0   0   0
16    0   0   0
17    0   0   0
18    0   0   0
19    0   0   0
20    0   0   0
21    0   0   0
22    0   0   0
23    0   0   0
24    0   0   0
25    0   0   0
26    0   0   0
27    0   0   0
28    0   0   0
29    0   0   0
30    0   0   0
31    0   0   0
32    0   0   0
33    0   0   0
34    0   0   0
35    0   0   0
36    0   0   0
37    0   0   0
38    0   0   0
39    0   0   0
40    0   0   0
41    0   0   0
42    0   0   0
43    0   0   0
44    0   0   0
45    0   0   0
46    0   0   0
47    0   0   0
48    0   0   0
49    0   0   0
50    0   0   0
51    0   0   0
52    0   0   0
53    0   0   0
54    0   0   0
55    0   0   0
56    0   0   0
57    0   0   0
58    0   0   0
59    0   0   0
60    0   0   0
61    0   0   0
62    0   0   0
63    0   0   0
64    0   0   0
65    0   0   0
66    0   0   0
67    0   0   0
68    0   0   0
69    0   0   0
70    0   0   0
71    0   0   0
72    0   0   0
73    0   0   0
74    0   0   0
75    0   0   0
76    0   0   0
77    0   0   0
78    0   0   0
79    0   0   0
80    0   0   0
81    0   0   0
82    0   0   0
83    0   0   0
84    0   0   0
85    0   0   0
86    0   0   0
87    0   0   0
88    0   0   0
89    0   0   0
90    0   0   0
91    0   0   0
92    0   0   0
93    0   0   0
94    0   0   0
95    0   0   0
96    0   0   0
97    0   0   0
98    0   0   0
99    0   0   0
100   0   0   0
101   0   0   0
102   0   0   0
103   0   0   0
104   0   0   0
105   0   0   0
106   0   0   0
107   0   0   0
108   0   0   0
109   0   0   0
110   0   0   0
111   0   0   0
112   0   0   0
113   0   0   0
114   0   0   0
115   0   0   0
116   0   0   0
117   0   0   0
118   0   0   0
119   0   0   0
120   0   0   0
121   0   0   0
122   0   0   0
123   0   0   0
124   0   0   0
125   0   0   0
126   0   0   0
127   0   0   0
128   0   0   0
129   0   0   0
130   0   0   0
131   0   0   0
132   0   0   0
133   0   0   0
134   0   0   0
135   0   0   0
136   0   0   0
137   0   0   0
138   0   0   0
139   0   0   0
140   0   0   0
141   0   0   0
142   0   0   0
143   0   0   0
144   0   0   0
145   0   0   0
146   0   0   0
147   0   0   0
148   0   0   0
149   0   0   0
150   0   0   0
151   0   0   0
152   0   0   0
153   0   0   0
154   0   0   0
155   0   0   0
156   0   0   0
157   0   0   0
158   0   0   1
159   0   0   0
160   0   0   0
161   0   0   0
162   0   0   0
163   0   0   0
164   0   0   0
165   0   0   0
166   0   0   0
167   0   0   0
168   0   0   0
169   0   0   0
170   0   0   0
171   0   0   0
172   0   0   0
173   0   0   0
174   0   0   0
175   0   0   0
176   0   0   0
177   0   0   0
178   0   0   0
179   0   0   0
180   0   0   0
181   0   0   0
182   0   0   0
183   0   0   0
184   0   0   0
185   0   0   0
186   0   0   0
187   0   0   0
188   0   0   0
189   0   0   0
190   0   0   0
191   0   0   0
192   0   0   0
193   0   0   0
194   0   0   0
195   0   0   0
196   0   0   0
197   0   0   0
198   0   0   0
199   0   0   0
200   0   0   0
201   0   0   0
202   0   0   0
203   0   0   0
204   0   0   0
205   0   0   0
206   0   0   0
207   0   0   0
208   0   0   0
209   0   0   0
210   0   0   0
211   0   0   0
212   0   0   0
213   0   0   0
214   0   0   0
215   0   0   0
216   0   0   0
217   0   0   0
218   0   0   0
219   0   0   0
220   0   0   0
221   0   0   0
222   0   0   0
223   0   0   0
224   0   0   0
225   0   0   0
226   0   0   0
227   0   0   0
228   0   0   0
229   0   0   0
230   0   0   0
231   0   0   0
232   0   0   0
233   0   0   0
234   0   0   0
235   0   0   0
236   0   0   0
237   0   0   0
238   0   0   0
239   0   0   0
240   0   0   0
241   0   0   0
242   0   0   0
243   0   0   0
244   0   0   0
245   0   0   0
246   0   0   0
247   0   0   0
248   0   0   0
249   0   0   0
250   0   0   0
251   0   0   0
252   0   0   0
253   0   0   0
254   0   0   0
255   0   0   0
256   0   0   0
257   0   0   0
258   0   0   0
259   0   0   0
260   0   0   0
261   0   0   0
262   0   0   0
263   0   0   0
264   0   0   0
265   0   0   0
266   0   0   0
267   0   0   0
268   0   0   0
269   0   0   0
270   0   0   0
271   0   0   0
272   0   0   0
273   0   0   0
274   0   0   0
275   0   0   0
276   0   0   0
277   0   0   0
278   0   0   0
279   0   0   0
280   0   0   0
281   0   0   0
282   0   0   0
283   0   0   0
284   0   0   0
285   0   0   0
286   0   0   0
287   0   0   0
288   0   0   0
289   0   0   0
290   0   0   0
291   0   0   0
292   0   0   0
293   0   0   0
294   0   0   0
295   0   0   0
296   0   0   0
297   0   0   0
298   0   0   0
299   0   0   0
300   0   0   0
301   0   0   0
302   0   0   0
303   0   0   0
304   0   0   0
305   0   0   0
306   0   0   0
307   0   0   0
308   0   0   0
309   0   0   0
310   0   0   0
311   0   0   0
312   0   0   0
313   0   0   0
314   0   0   0
315   0   0   0
316   0   0   0
317   0   0   0
318   0   0   0
319   0   0   0
320   0   0   0
321   0   0   0
322   0   0   0
323   0   0   0
324   0   0   0
325   0   0   0
326   0   0   0
327   0   0   0
328   0   0   0
329   0   0   0
330   0   0   0
331   0   0   0
332   0   0   0
333   0   0   0
334   0   0   0
335   1   0   0
336   0   0   0
337   0   0   0
338   0   0   0
339   0   0   0
340   0   0   0
341   0   0   0
342   0   0   0
343   0   0   0
344   0   0   0
345   0   0   0
346   0   0   0
347   0   0   0
348   0   0   0
349   0   0   0
350   0   0   0
351   0   0   0
352   0   0   0
353   0   0   0
354   0   0   0
355   0   0   0
356   0   0   0
357   0   0   0
358   0   0   0
359   0   0   0
360   0   0   0
361   0   0   0
362   0   0   0
363   0   0   0
364   0   0   0
365   0   0   0
366   0   0   0
367   0   0   0
368   0   0   0
369   0   0   0
370   0   0   0
371   0   0   0
372   0   0   0
373   0   0   0
374   0   0   0
375   0   0   0
376   0   0   0
377   0   0   0
378   0   0   0
379   0   0   0
380   0   0   0
381   0   0   0
382   0   0   0
383   0   0   0
384   0   0   0
385   0   0   0
386   0   0   0
387   0   0   0
388   0   0   0
389   0   0   0
390   0   0   0
391   0   0   0
392   0   0   0
393   0   0   0
394   0   0   0
395   0   0   0
396   0   0   0
397   0   0   0
398   0   0   0
399   0   0   0
400   0   0   0
401   0   0   0
402   0   0   0
403   0   0   0
404   0   0   0
405   0   0   0
406   0   0   0
407   0   0   0
408   0   0   0
409   0   0   0
410   0   0   0
411   0   0   0
412   0   0   0
413   0   0   0
414   0   0   0
415   0   0   0
416   0   0   0
417   0   0   0
418   0   0   0
419   0   0   0
420   0   0   0
421   0   0   0
422   0   0   0
423   0   0   0
424   0   0   0
425   0   0   0
426   0   0   0
427   0   0   0
428   0   0   0
429   0   0   0
430   0   0   0
431   0   0   0
432   0   0   0
433   0   0   0
434   0   0   0
435   0   0   0
436   0   0   0
437   0   0   0
438   0   0   0
439   0   0   0
440   0   0   0
441   0   0   0
442   0   0   0
443   0   0   0
444   0   0   0
445   0   0   0
446   0   0   0
447   0   0   0
448   0   0   0
449   0   0   0
450   0   0   0
451   0   0   0
452   0   0   0
453   0   0   0
454   0   0   0
455   0   0   0
456   0   0   0
457   0   0   0
458   0   0   0
459   0   0   0
460   0   0   0
461   0   0   0
462   0   0   0
463   0   0   0
464   0   0   0
465   0   0   0
466   0   0   0
467   0   0   0
468   1   0   0
469   0   0   0
470   0   0   0
471   0   0   0
472   0   0   0
473   0   0   0
474   0   0   0
475   0   0   0
476   0   0   0
477   0   0   0
478   0   0   0
479   0   0   0
480   0   0   0
481   0   0   0
482   0   0   0
483   0   0   0
484   0   0   0
485   0   0   0
486   0   0   0
487   0   0   0
488   0   0   0
489   0   0   0
490   0   0   0
491   0   0   0
492   0   0   0
493   0   0   0
494   0   0   0
495   0   0   0
496   0   0   0
497   0   0   0
498   0   0   0
499   0   0   0
500   0   0   0
501   0   0   0
502   0   0   0
503   0   0   0
504   0   0   0
505   0   0   0
506   0   0   0
507   0   0   0
508   0   0   0
509   0   0   0
510   0   0   0
511   0   0   0
512   0   0   0
513   0   0   0
514   0   0   0
515   0   0   0
516   0   0   0
517   0   0   0
518   0   0   0
519   0   0   0
520   0   0   0
521   0   0   0
522   0   0   0
523   0   0   0
524   0   0   0
525   0   0   0
526   0   0   0
527   0   0   0
528   0   0   0
529   0   0   0
530   0   0   0
531   0   0   0
532   0   0   0
533   0   0   0
534   0   0   0
535   0   0   0
536   0   0   0
537   0   0   0
538   0   0   0
539   0   0   0
540   0   0   0
541   0   0   0
542   0   0   0
543   0   0   0
544   0   0   0
545   0   0   0
546   0   0   0
547   0   0   0
548   0   0   0
549   0   0   0
550   0   0   0
551   0   0   0
552   0   0   0
553   0   0   0
554   0   0   0
555   0   0   0
556   0   0   0
557   0   0   0
558   0   0   0
559   0   0   0
560   0   0   0
561   0   0   0
562   0   0   0
563   0   0   0
564   0   0   0
565   0   0   0
566   0   0   0
567   0   0   0
568   0   0   0
569   0   0   0
570   0   0   0
571   0   0   0
572   0   0   0
573   0   0   0
574   0   0   0
575   0   0   0
576   0   0   0
577   0   0   0
578   0   0   0
579   0   0   0
580   0   0   0
581   0   0   0
582   0   0   0
583   0   0   0
584   0   0   0
585   0   0   0
586   0   0   0
587   0   0   0
588   0   0   0
589   0   0   0
590   0   0   0
591   0   0   0
592   0   0   0
593   0   0   0
594   0   0   0
595   0   0   0
596   0   0   0
597   0   0   0
598   0   0   0
599   0   0   0
600   0   0   0
601   0   0   0
602   0   0   0
603   0   0   0
604   0   0   0
605   0   0   0
606   0   0   0
607   0   0   0
608   0   0   0
609   0   0   0
610   0   0   0
611   0   0   0
612   0   0   0
613   0   0   0
614   0   0   0
615   0   0   0
616   0   0   0
617   0   0   0
618   0   0   0
619   0   0   0
620   0   0   0
621   0   0   0
622   0   0   0
623   0   0   0
624   0   0   0
625   0   0   0
626   0   0   0
627   0   0   0
628   0   0   0
629   0   0   0
630   0   0   0
631   0   0   0
632   0   0   0
633   0   0   0
634   0   0   0
635   0   0   0
636   0   0   0
637   0   0   0
638   0   0   0
639   0   0   0
640   0   0   0
641   0   0   0
642   0   0   0
643   0   0   0
644   0   0   0
645   0   0   0
646   0   0   0
647   0   0   0
648   0   0   0
649   0   0   0
650   0   0   0
651   0   0   0
652   0   0   0
653   0   0   0
654   0   0   0
655   0   0   0
656   0   0   0
657   0   0   0
658   0   0   0
659   0   0   0
660   0   0   0
661   0   1   0
662   0   0   0
663   0   0   0
664   0   0   0
665   0   0   0
666   0   0   0
667   0   0   0
668   0   1   0
669   0   0   0
670   0   0   0
671   0   0   0
672   0   0   0
673   0   0   0
674   0   0   0
675   0   0   0
676   0   0   0
677   0   0   0
678   0   0   0
679   0   0   0
680   0   0   0
681   0   0   0
682   0   0   0
683   0   0   0
684   0   0   0
685   0   0   0
686   0   0   0
687   0   0   0
688   0   0   0
689   0   0   0
690   0   0   0
691   0   1   0
692   0   0   0
693   0   0   0
694   0   0   0
695   0   0   0
696   0   0   0
697   0   0   0
698   0   0   0
699   0   0   0

In [16]:
# with 27 dummy variables , we should consider grouping them into categories
# Grouping the dummy variables into 4 categories = Classing them (classification)
# Classification : re-organizing variables into groups in a regression analysis
# Reason 1 - 14 : Various Diseases
# Reason 15 - 17 : Pregnancy
# Reason 18 - 21 : Poisoning
# Reason 22 - 28 : Light Diseases

# the obtained object is called panda series and not data frame (As well as every other column in the data frame)
reason_type_1 = reason_columns.loc[:,1:14].max(axis = 1)
reason_type_2 = reason_columns.loc[:,15:17].max(axis = 1)
reason_type_3 = reason_columns.loc[:,18:21].max(axis = 1)
reason_type_4 = reason_columns.loc[:,22:].max(axis = 1)

reason_columns.loc[:,18:21].max(axis = 1)

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      1
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     1
18     0
19     0
20     0
21     0
22     0
23     0
24     1
25     0
26     0
27     0
28     1
29     0
30     1
31     1
32     0
33     1
34     0
35     0
36     0
37     0
38     0
39     0
40     0
41     0
42     0
43     1
44     0
45     0
46     0
47     0
48     0
49     0
50     0
51     0
52     0
53     0
54     0
55     0
56     1
57     0
58     0
59     0
60     0
61     0
62     0
63     0
64     0
65     0
66     0
67     0
68     0
69     0
70     0
71     0
72     0
73     0
74     1
75     0
76     0
77     0
78     0
79     0
80     0
81     0
82     0
83     1
84     0
85     0
86     0
87     0
88     0
89     0
90     0
91     1
92     0
93     0
94     0
95     0
96     0
97     0
98     0
99     1
100    0
101    0
102    0
103    0
104    1
105    0
106    0
107    0
108    0
109    0
110    0
111    1
112    0
113    0
114    1
115    0
116    1
117    0
118    0
119    0
120    0
121    0
122    0
123    0
124    0
125    0
126    0
127    0
128    0
129    1
130    1
131    0
132    0
133    0
134    0
135    0
136    0
137    0
138    0
139    0
140    0
141    0
142    0
143    0
144    0
145    0
146    0
147    0
148    0
149    0
150    0
151    1
152    0
153    0
154    1
155    0
156    1
157    1
158    0
159    0
160    0
161    0
162    0
163    0
164    0
165    0
166    0
167    0
168    0
169    0
170    0
171    0
172    0
173    0
174    0
175    0
176    0
177    0
178    0
179    0
180    0
181    0
182    0
183    0
184    0
185    0
186    0
187    0
188    0
189    0
190    0
191    0
192    0
193    0
194    0
195    0
196    0
197    1
198    1
199    0
200    1
201    0
202    0
203    0
204    0
205    0
206    0
207    1
208    1
209    0
210    0
211    0
212    0
213    0
214    0
215    0
216    0
217    0
218    0
219    0
220    1
221    0
222    0
223    0
224    0
225    0
226    0
227    0
228    0
229    0
230    0
231    0
232    0
233    0
234    0
235    0
236    1
237    0
238    0
239    0
240    0
241    1
242    0
243    0
244    0
245    0
246    0
247    0
248    0
249    1
250    1
251    0
252    1
253    1
254    0
255    1
256    0
257    0
258    0
259    0
260    0
261    0
262    0
263    0
264    0
265    0
266    0
267    1
268    0
269    0
270    0
271    0
272    1
273    0
274    0
275    0
276    0
277    0
278    0
279    0
280    0
281    0
282    0
283    0
284    0
285    0
286    0
287    0
288    0
289    0
290    0
291    0
292    0
293    0
294    0
295    0
296    0
297    0
298    0
299    0
300    0
301    1
302    0
303    0
304    0
305    0
306    0
307    0
308    0
309    0
310    0
311    0
312    0
313    0
314    0
315    0
316    0
317    0
318    0
319    0
320    0
321    0
322    0
323    0
324    0
325    0
326    1
327    0
328    0
329    0
330    0
331    0
332    0
333    0
334    0
335    0
336    0
337    0
338    0
339    0
340    0
341    0
342    0
343    0
344    0
345    0
346    0
347    0
348    0
349    0
350    0
351    0
352    0
353    0
354    0
355    0
356    0
357    1
358    0
359    1
360    0
361    0
362    0
363    0
364    0
365    0
366    0
367    0
368    0
369    0
370    0
371    0
372    0
373    0
374    0
375    0
376    0
377    0
378    0
379    0
380    0
381    0
382    0
383    0
384    0
385    0
386    0
387    0
388    0
389    0
390    1
391    1
392    0
393    0
394    0
395    0
396    0
397    0
398    0
399    0
400    0
401    1
402    0
403    0
404    0
405    0
406    0
407    0
408    0
409    0
410    1
411    0
412    0
413    0
414    0
415    0
416    0
417    0
418    0
419    0
420    0
421    0
422    0
423    0
424    0
425    0
426    0
427    0
428    0
429    0
430    0
431    0
432    0
433    0
434    1
435    0
436    0
437    0
438    0
439    0
440    0
441    0
442    0
443    0
444    0
445    0
446    0
447    0
448    0
449    0
450    0
451    0
452    0
453    0
454    0
455    0
456    1
457    0
458    0
459    0
460    0
461    0
462    0
463    0
464    0
465    0
466    0
467    0
468    0
469    0
470    0
471    0
472    0
473    0
474    0
475    0
476    0
477    0
478    0
479    0
480    0
481    0
482    0
483    0
484    0
485    0
486    0
487    0
488    0
489    0
490    0
491    0
492    0
493    0
494    0
495    0
496    0
497    0
498    0
499    0
500    0
501    0
502    0
503    0
504    0
505    0
506    0
507    0
508    0
509    0
510    0
511    0
512    0
513    0
514    0
515    0
516    0
517    0
518    0
519    0
520    0
521    0
522    0
523    0
524    0
525    0
526    0
527    0
528    0
529    0
530    0
531    0
532    1
533    0
534    0
535    0
536    0
537    0
538    0
539    0
540    0
541    0
542    0
543    0
544    0
545    0
546    0
547    0
548    0
549    0
550    0
551    0
552    0
553    0
554    0
555    0
556    0
557    0
558    0
559    0
560    0
561    0
562    1
563    0
564    1
565    0
566    0
567    0
568    0
569    1
570    0
571    0
572    0
573    0
574    0
575    0
576    0
577    1
578    0
579    1
580    0
581    0
582    0
583    0
584    0
585    0
586    0
587    0
588    0
589    0
590    0
591    0
592    0
593    0
594    1
595    0
596    0
597    0
598    0
599    0
600    0
601    0
602    0
603    0
604    0
605    0
606    0
607    0
608    0
609    0
610    0
611    0
612    0
613    0
614    0
615    0
616    0
617    0
618    0
619    0
620    0
621    0
622    0
623    0
624    0
625    0
626    0
627    0
628    0
629    1
630    0
631    0
632    0
633    0
634    0
635    0
636    0
637    0
638    0
639    0
640    0
641    0
642    0
643    0
644    0
645    0
646    0
647    0
648    0
649    0
650    0
651    0
652    1
653    0
654    0
655    0
656    1
657    1
658    0
659    0
660    0
661    0
662    0
663    0
664    0
665    0
666    0
667    1
668    0
669    0
670    0
671    1
672    0
673    0
674    0
675    1
676    0
677    0
678    0
679    0
680    0
681    0
682    1
683    0
684    0
685    0
686    0
687    0
688    0
689    0
690    0
691    0
692    0
693    0
694    0
695    0
696    0
697    0
698    0
699    0
dtype: int32

In [ ]:
reason_type_2.info()

In [17]:
# drop the Reason for Absence , ID columns from the dataset
# axis 0 stands for the y-axis , while axis 1 stands for the x axis 
df.drop(['ID'], axis = 1) 
# drop function shows the data frame after removing the column , it is a temporary output and it doesn't yet reflect the frame
# Use these lines for permenantly deleting the ID column
df = df.drop(['ID'], axis = 1)

df = df.drop(['Reason for Absence'],axis = 1)

In [18]:
df.head(30)

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,07-07-15,289,36,33,239.554,30,1,2,1,4
1,14-07-15,118,13,50,239.554,31,1,1,0,0
2,15-07-15,179,51,38,239.554,31,1,0,0,2
3,16-07-15,279,5,39,239.554,24,1,2,0,4
4,23-07-15,289,36,33,239.554,30,1,2,1,2
5,10-07-15,179,51,38,239.554,31,1,0,0,2
6,17-07-15,361,52,28,239.554,27,1,1,4,8
7,24-07-15,260,50,36,239.554,23,1,4,0,4
8,06-07-15,155,12,34,239.554,25,1,2,0,40
9,13-07-15,235,11,37,239.554,29,3,1,1,8
10,20-07-15,260,50,36,239.554,23,1,4,0,8
11,14-07-15,260,50,36,239.554,23,1,4,0,8
12,15-07-15,260,50,36,239.554,23,1,4,0,8
13,15-07-15,179,51,38,239.554,31,1,0,0,1
14,15-07-15,179,51,38,239.554,31,1,0,0,4
15,17-07-15,246,25,41,239.554,23,1,0,0,8
16,17-07-15,179,51,38,239.554,31,1,0,0,2
17,27-07-15,179,51,38,239.554,31,1,0,0,8
18,30-07-15,189,29,33,239.554,25,1,2,2,8
19,05-08-15,248,25,47,205.917,32,1,2,1,2
20,12-08-15,330,16,28,205.917,25,2,0,0,8
21,03-08-15,179,51,38,205.917,31,1,0,0,1
22,10-08-15,361,52,28,205.917,27,1,1,4,40
23,14-08-15,260,50,36,205.917,23,1,4,0,4
24,17-08-15,289,36,33,205.917,30,1,2,1,8
25,24-08-15,361,52,28,205.917,27,1,1,4,7
26,04-08-15,289,36,33,205.917,30,1,2,1,1
27,12-08-15,157,27,29,205.917,22,1,0,0,4
28,19-08-15,289,36,33,205.917,30,1,2,1,8
29,28-08-15,179,51,38,205.917,31,1,0,0,2

In [19]:
df = pd.concat([df,reason_type_1,reason_type_2,reason_type_3,reason_type_4], axis=1)

In [20]:
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,0,1,2,3
0,07-07-15,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14-07-15,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15-07-15,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16-07-15,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23-07-15,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [21]:
# Now as we look to the concatenated data frame , [0,1,2,3] seems strange , we need to rename them 
df.columns.values

array(['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 0, 1, 2, 3],
      dtype=object)

In [22]:
new_column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason 1', 'Reason 2', 'Reason 3', 'Reason 4']

In [23]:
df.columns = new_column_names
df.head()

,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason 1,Reason 2,Reason 3,Reason 4
0,07-07-15,289,36,33,239.554,30,1,2,1,4,0,0,0,1
1,14-07-15,118,13,50,239.554,31,1,1,0,0,0,0,0,0
2,15-07-15,179,51,38,239.554,31,1,0,0,2,0,0,0,1
3,16-07-15,279,5,39,239.554,24,1,2,0,4,1,0,0,0
4,23-07-15,289,36,33,239.554,30,1,2,1,2,0,0,0,1

In [24]:
# Reorder columns 
ordered_column_names = ['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4' ,'Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']
# this is not valid , it only renames but does not order 
## df.columns = ordered_column_names
# instead , you have to do so 
df = df[ordered_column_names]
df.head()
# By doing this only , Wrong data are put with wrong labels

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07-07-15,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14-07-15,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15-07-15,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16-07-15,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23-07-15,289,36,33,239.554,30,1,2,1,2

In [25]:
#two ways of extracting unique elements in a column
df['Body Mass Index'].unique()

array([30, 31, 24, 27, 23, 25, 29, 32, 22, 33, 21, 28, 38, 19, 36, 35],
      dtype=int64)

In [26]:
pd.unique(df['Body Mass Index'])

array([30, 31, 24, 27, 23, 25, 29, 32, 22, 33, 21, 28, 38, 19, 36, 35],
      dtype=int64)

In [ ]:
print(df['Body Mass Index'].min())
print(df['Body Mass Index'].max())
print(len(pd.unique(df['Body Mass Index'])))

In [ ]:
sorted(df['Body Mass Index'].unique())

In [27]:
#Creating a checkpoint by creating a copy for the current state of the df 
df_reason_mod = df.copy()  # version of reasons reordering 
df_reason_mod[:10]

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,07-07-15,289,36,33,239.554,30,1,2,1,4
1,0,0,0,0,14-07-15,118,13,50,239.554,31,1,1,0,0
2,0,0,0,1,15-07-15,179,51,38,239.554,31,1,0,0,2
3,1,0,0,0,16-07-15,279,5,39,239.554,24,1,2,0,4
4,0,0,0,1,23-07-15,289,36,33,239.554,30,1,2,1,2
5,0,0,0,1,10-07-15,179,51,38,239.554,31,1,0,0,2
6,0,0,0,1,17-07-15,361,52,28,239.554,27,1,1,4,8
7,0,0,0,1,24-07-15,260,50,36,239.554,23,1,4,0,4
8,0,0,1,0,06-07-15,155,12,34,239.554,25,1,2,0,40
9,0,0,0,1,13-07-15,235,11,37,239.554,29,3,1,1,8

In [31]:
# DATE TIME FIXED HERE BY USING THE FOLLOWING LINE 
# df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y') gives an error
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = None, dayfirst=True)
type(df_reason_mod['Date'][0]) # => timestamp
type(df_reason_mod['Date']) # => series
print (df_reason_mod['Date'])

0     2015-07-07
1     2015-07-14
2     2015-07-15
3     2015-07-16
4     2015-07-23
5     2015-07-10
6     2015-07-17
7     2015-07-24
8     2015-07-06
9     2015-07-13
10    2015-07-20
11    2015-07-14
12    2015-07-15
13    2015-07-15
14    2015-07-15
15    2015-07-17
16    2015-07-17
17    2015-07-27
18    2015-07-30
19    2015-08-05
20    2015-08-12
21    2015-08-03
22    2015-08-10
23    2015-08-14
24    2015-08-17
25    2015-08-24
26    2015-08-04
27    2015-08-12
28    2015-08-19
29    2015-08-28
30    2015-08-17
31    2015-08-27
32    2015-08-27
33    2015-08-17
34    2015-08-17
35    2015-08-17
36    2015-08-04
37    2015-08-20
38    2015-08-21
39    2015-08-28
40    2015-09-01
41    2015-09-07
42    2015-09-01
43    2015-09-08
44    2015-09-09
45    2015-09-13
46    2015-09-14
47    2015-09-24
48    2015-09-04
49    2015-09-14
50    2015-09-21
51    2015-09-28
52    2015-09-08
53    2015-09-15
54    2015-09-22
55    2015-09-29
56    2015-09-16
57    2015-09-23
58    2015-09-30
59    2015-09-11
60    2015-09-18
61    2015-09-25
62    2015-10-06
63    2015-10-13
64    2015-10-14
65    2015-10-15
66    2015-10-16
67    2015-10-16
68    2015-10-06
69    2015-10-14
70    2015-10-21
71    2015-10-22
72    2015-10-21
73    2015-10-21
74    2015-10-22
75    2015-10-13
76    2015-10-20
77    2015-10-21
78    2015-10-23
79    2015-10-30
80    2015-11-05
81    2015-11-04
82    2015-11-05
83    2015-11-12
84    2015-11-19
85    2015-11-02
86    2015-11-09
87    2015-11-16
88    2015-11-18
89    2015-11-20
90    2015-11-18
91    2015-11-25
92    2015-11-20
93    2015-11-27
94    2015-11-02
95    2015-11-10
96    2015-11-11
97    2015-11-26
98    2015-12-01
99    2015-12-01
100   2015-12-02
101   2015-12-02
102   2015-12-03
103   2015-12-04
104   2015-12-08
105   2015-12-09
106   2015-12-10
107   2015-12-11
108   2015-12-15
109   2015-12-16
110   2015-12-11
111   2015-12-18
112   2015-12-18
113   2016-01-06
114   2016-01-04
115   2016-01-05
116   2016-01-05
117   2016-01-06
118   2016-01-07
119   2016-01-07
120   2016-01-08
121   2016-01-11
122   2016-01-12
123   2016-01-12
124   2016-01-13
125   2016-01-14
126   2016-01-15
127   2016-01-11
128   2016-01-12
129   2016-01-12
130   2016-01-12
131   2016-01-13
132   2016-01-21
133   2016-01-28
134   2016-01-25
135   2016-01-26
136   2016-01-28
137   2016-02-05
138   2016-02-03
139   2016-02-10
140   2016-02-11
141   2016-02-11
142   2016-02-12
143   2016-02-12
144   2016-02-08
145   2016-02-09
146   2016-02-15
147   2016-02-09
148   2016-02-16
149   2016-02-23
150   2016-02-25
151   2016-02-15
152   2016-02-16
153   2016-02-17
154   2016-02-25
155   2016-03-01
156   2016-03-01
157   2016-03-08
158   2016-03-15
159   2016-03-16
160   2016-03-02
161   2016-03-03
162   2016-03-04
163   2016-03-04
164   2016-03-07
165   2016-03-14
166   2016-03-21
167   2016-03-22
168   2016-03-24
169   2016-03-24
170   2016-03-25
171   2016-03-25
172   2016-03-28
173   2016-03-29
174   2016-03-30
175   2016-03-28
176   2016-03-28
177   2016-03-29
178   2016-03-30
179   2016-03-30
180   2016-03-17
181   2016-03-18
182   2016-03-25
183   2016-03-28
184   2016-04-06
185   2016-04-13
186   2016-04-12
187   2016-04-13
188   2016-04-14
189   2016-04-15
190   2016-04-15
191   2016-04-06
192   2016-04-07
193   2016-04-08
194   2016-04-08
195   2016-04-22
196   2016-04-29
197   2016-04-29
198   2016-04-26
199   2016-04-27
200   2016-04-27
201   2016-04-28
202   2016-04-08
203   2016-04-04
204   2016-05-04
205   2016-05-05
206   2016-05-02
207   2016-05-03
208   2016-05-03
209   2016-05-11
210   2016-05-09
211   2016-05-10
212   2016-05-04
213   2016-05-11
214   2016-05-18
215   2016-05-25
216   2016-05-25
217   2016-05-24
218   2016-05-11
219   2016-05-27
220   2016-06-06
221   2016-06-13
222   2016-06-14
223   2016-06-16
224   2016-06-17
225   2016-06-13
226   2016-06-20
227   2016-06-27
228   2016-06-29
229   2016-06-03
230   2016-06-07
231   2016-06-08
232   2016-06-09
233   2016-06-10
234   2016-06-20
235   2016-06-30
236   2016-07-05
237   2016-07-06
238   2016-07-08
239   2016-07-08
240   2016-07-12
241   2016-07-14
242   2016-07-15
243   2016-07-18
244   2016-07-19
245   2016-07-18
246   2016-07-19
247   2016-07-20
248   2016-07-21
249   2016-07-11
250   2016-07-14
251   2016-07-21
252   2016-08-04
253   2016-08-11
254   2016-08-07
255   2016-08-08
256   2016-08-10
257   2016-08-10
258   2016-08-11
259   2016-08-08
260   2016-08-09
261   2016-08-10
262   2016-08-10
263   2016-08-10
264   2016-08-14
265   2016-08-15
266   2016-08-17
267   2016-08-24
268   2016-08-08
269   2016-08-30
270   2016-09-05
271   2016-09-09
272   2016-09-07
273   2016-09-08
274   2016-09-12
275   2016-09-13
276   2016-09-13
277   2016-09-13
278   2016-09-14
279   2016-09-14
280   2016-09-15
281   2016-09-16
282   2016-09-16
283   2016-09-14
284   2016-09-15
285   2016-09-15
286   2016-09-16
287   2016-09-26
288   2016-09-26
289   2016-10-05
290   2016-10-05
291   2016-10-05
292   2016-10-06
293   2016-10-06
294   2016-10-06
295   2016-10-12
296   2016-10-12
297   2016-10-12
298   2016-10-14
299   2016-10-14
300   2016-10-14
301   2016-10-15
302   2016-10-16
303   2016-10-16
304   2016-10-19
305   2016-10-19
306   2016-10-20
307   2016-10-20
308   2016-10-22
309   2016-10-22
310   2016-10-26
311   2016-10-27
312   2016-10-27
313   2016-10-27
314   2016-10-28
315   2016-10-28
316   2016-10-29
317   2016-11-07
318   2016-11-07
319   2016-11-08
320   2016-11-11
321   2016-11-14
322   2016-11-14
323   2016-11-14
324   2016-11-14
325   2016-11-15
326   2016-11-16
327   2016-11-16
328   2016-11-17
329   2016-11-17
330   2016-11-18
331   2016-11-18
332   2016-11-21
333   2016-11-22
334   2016-11-23
335   2016-11-25
336   2016-11-25
337   2016-11-29
338   2016-11-24
339   2016-12-05
340   2016-12-05
341   2016-12-05
342   2016-12-05
343   2016-12-06
344   2016-12-09
345   2016-12-15
346   2016-12-15
347   2016-12-16
348   2016-12-20
349   2016-12-20
350   2016-12-22
351   2016-12-23
352   2016-12-20
353   2016-12-20
354   2016-12-21
355   2016-12-19
356   2016-12-19
357   2016-12-19
358   2017-01-04
359   2017-01-09
360   2017-01-09
361   2017-01-03
362   2017-01-03
363   2017-01-09
364   2017-01-11
365   2017-01-16
366   2017-01-16
367   2017-01-25
368   2017-01-27
369   2017-02-07
370   2017-02-01
371   2017-02-01
372   2017-02-03
373   2017-02-10
374   2017-02-17
375   2017-02-13
376   2017-02-15
377   2017-02-16
378   2017-02-16
379   2017-02-17
380   2017-02-13
381   2017-02-13
382   2017-02-21
383   2017-02-21
384   2017-02-22
385   2017-02-22
386   2017-02-24
387   2017-02-24
388   2017-02-22
389   2017-02-24
390   2017-03-07
391   2017-03-08
392   2017-03-10
393   2017-03-10
394   2017-03-13
395   2017-03-13
396   2017-03-14
397   2017-03-14
398   2017-03-20
399   2017-03-22
400   2017-03-22
401   2017-03-23
402   2017-03-24
403   2017-03-28
404   2017-03-29
405   2017-03-30
406   2017-03-30
407   2017-03-30
408   2017-03-31
409   2017-03-31
410   2017-03-27
411   2017-03-28
412   2017-04-05
413   2017-04-07
414   2017-04-07
415   2017-04-10
416   2017-04-10
417   2017-04-12
418   2017-04-12
419   2017-04-17
420   2017-04-19
421   2017-04-28
422   2017-04-28
423   2017-04-24
424   2017-04-26
425   2017-05-01
426   2017-05-03
427   2017-05-08
428   2017-05-10
429   2017-05-10
430   2017-05-11
431   2017-05-12
432   2017-05-15
433   2017-05-15
434   2017-05-17
435   2017-05-17
436   2017-05-19
437   2017-05-22
438   2017-05-22
439   2017-05-29
440   2017-05-31
441   2017-06-05
442   2017-06-05
443   2017-06-06
444   2017-06-08
445   2017-06-09
446   2017-06-09
447   2017-06-12
448   2017-06-12
449   2017-06-13
450   2017-06-19
451   2017-06-20
452   2017-06-26
453   2017-06-28
454   2017-06-28
455   2017-06-28
456   2017-06-28
457   2017-06-30
458   2017-06-27
459   2017-06-27
460   2017-07-06
461   2017-07-06
462   2017-07-07
463   2017-07-10
464   2017-07-14
465   2017-07-14
466   2017-07-17
467   2017-07-18
468   2017-07-24
469   2017-07-24
470   2017-07-25
471   2017-07-25
472   2017-07-25
473   2017-07-28
474   2017-07-28
475   2017-07-24
476   2017-07-24
477   2017-07-25
478   2017-07-27
479   2017-07-27
480   2017-08-03
481   2017-08-07
482   2017-08-08
483   2017-08-08
484   2017-08-08
485   2017-08-08
486   2017-08-10
487   2017-08-14
488   2017-08-15
489   2017-08-17
490   2017-08-22
491   2017-08-22
492   2017-08-22
493   2017-08-24
494   2017-08-28
495   2017-09-05
496   2017-09-05
497   2017-09-05
498   2017-09-05
499   2017-09-07
500   2017-09-08
501   2017-09-08
502   2017-09-11
503   2017-09-13
504   2017-09-18
505   2017-09-19
506   2017-09-26
507   2017-10-05
508   2017-10-05
509   2017-10-06
510   2017-10-11
511   2017-10-11
512   2017-10-17
513   2017-10-19
514   2017-10-20
515   2017-10-24
516   2017-10-24
517   2017-10-24
518   2017-10-24
519   2017-10-24
520   2017-10-25
521   2017-10-25
522   2017-10-25
523   2017-10-26
524   2017-10-26
525   2017-10-27
526   2017-10-27
527   2017-10-29
528   2017-10-29
529   2017-10-29
530   2017-10-29
531   2017-10-31
532   2017-11-07
533   2017-11-08
534   2017-11-08
535   2017-11-10
536   2017-11-14
537   2017-11-15
538   2017-11-17
539   2017-11-17
540   2017-11-21
541   2017-11-22
542   2017-11-23
543   2017-11-23
544   2017-11-27
545   2017-11-27
546   2017-11-28
547   2017-11-28
548   2017-11-28
549   2017-11-29
550   2017-11-30
551   2017-11-30
552   2017-11-24
553   2017-11-24
554   2017-11-27
555   2017-12-05
556   2017-12-06
557   2017-12-06
558   2017-12-08
559   2017-12-08
560   2017-12-13
561   2017-12-14
562   2017-12-15
563   2017-12-15
564   2017-12-18
565   2017-12-19
566   2017-12-19
567   2017-12-21
568   2017-12-18
569   2017-12-19
570   2018-01-01
571   2018-01-04
572   2018-01-04
573   2018-01-05
574   2018-01-08
575   2018-01-10
576   2018-01-11
577   2018-01-12
578   2018-01-15
579   2018-01-16
580   2018-01-17
581   2018-01-17
582   2018-01-17
583   2018-01-18
584   2018-01-26
585   2018-02-06
586   2018-02-06
587   2018-02-07
588   2018-02-07
589   2018-02-08
590   2018-02-08
591   2018-02-08
592   2018-02-09
593   2018-02-09
594   2018-02-12
595   2018-02-12
596   2018-02-13
597   2018-02-14
598   2018-02-15
599   2018-02-15
600   2018-02-15
601   2018-02-16
602   2018-02-16
603   2018-02-21
604   2018-02-21
605   2018-02-21
606   2018-02-22
607   2018-02-23
608   2018-02-26
609   2018-02-26
610   2018-02-26
611   2018-02-26
612   2018-02-27
613   2018-02-27
614   2018-02-27
615   2018-02-28
616   2018-02-22
617   2018-02-23
618   2018-03-05
619   2018-03-05
620   2018-03-06
621   2018-03-06
622   2018-03-06
623   2018-03-07
624   2018-03-08
625   2018-03-08
626   2018-03-08
627   2018-03-09
628   2018-03-12
629   2018-03-12
630   2018-03-13
631   2018-03-14
632   2018-03-15
633   2018-03-16
634   2018-03-19
635   2018-03-19
636   2018-03-19
637   2018-03-19
638   2018-03-20
639   2018-03-21
640   2018-03-21
641   2018-03-21
642   2018-03-22
643   2018-03-22
644   2018-03-23
645   2018-03-23
646   2018-03-27
647   2018-03-28
648   2018-03-28
649   2018-03-28
650   2018-03-29
651   2018-03-26
652   2018-03-26
653   2018-03-28
654   2018-04-02
655   2018-04-02
656   2018-04-03
657   2018-04-04
658   2018-04-05
659   2018-04-06
660   2018-04-09
661   2018-04-10
662   2018-04-10
663   2018-04-10
664   2018-04-11
665   2018-04-13
666   2018-04-13
667   2018-04-16
668   2018-04-17
669   2018-04-20
670   2018-04-24
671   2018-04-26
672   2018-04-26
673   2018-04-27
674   2018-05-07
675   2018-05-09
676   2018-05-09
677   2018-05-09
678   2018-05-09
679   2018-05-10
680   2018-05-10
681   2018-05-10
682   2018-05-11
683   2018-05-11
684   2018-05-11
685   2018-05-14
686   2018-05-15
687   2018-05-15
688   2018-05-15
689   2018-05-16
690   2018-05-16
691   2018-05-18
692   2018-05-21
693   2018-05-21
694   2018-05-23
695   2018-05-23
696   2018-05-23
697   2018-05-24
698   2018-05-24
699   2018-05-31
Name: Date, dtype: datetime64[ns]

In [32]:
df_reason_mod['Date'] = pd.to_datetime(df_reason_mod['Date'], format = '%d/%m/%Y')
df_reason_mod['Date'][5].month

7

In [33]:
df_reason_mod.shape

(700, 14)

In [34]:
list_months = []
for i in range(df_reason_mod.shape[0]):
    list_months.append(df_reason_mod['Date'][i].month)

In [35]:
list_months
df_reason_mod['Month Value'] = list_months
df_reason_mod.head(20)

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7
5,0,0,0,1,2015-07-10,179,51,38,239.554,31,1,0,0,2,7
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7
8,0,0,1,0,2015-07-06,155,12,34,239.554,25,1,2,0,40,7
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7
10,1,0,0,0,2015-07-20,260,50,36,239.554,23,1,4,0,8,7
11,1,0,0,0,2015-07-14,260,50,36,239.554,23,1,4,0,8,7
12,1,0,0,0,2015-07-15,260,50,36,239.554,23,1,4,0,8,7
13,1,0,0,0,2015-07-15,179,51,38,239.554,31,1,0,0,1,7
14,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,4,7
15,1,0,0,0,2015-07-17,246,25,41,239.554,23,1,0,0,8,7
16,0,0,0,1,2015-07-17,179,51,38,239.554,31,1,0,0,2,7
17,0,0,1,0,2015-07-27,179,51,38,239.554,31,1,0,0,8,7
18,1,0,0,0,2015-07-30,189,29,33,239.554,25,1,2,2,8,7
19,0,0,0,1,2015-08-05,248,25,47,205.917,32,1,2,1,2,8

In [36]:
#Monday : 0 ---> Sunday:6
df_reason_mod['Date'][699].weekday()

3

In [37]:
def date_to_weekday(ts):
    return ts.weekday()

In [38]:
df_reason_mod['Day of the Week'] = df_reason_mod['Date'].apply(date_to_weekday)

In [39]:
df_date_reason_mod = df_reason_mod.copy()
df_date_reason_mod.head(10)

,Reason 1,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,1,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,1,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,1,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,1,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,1,2,1,2,7,3
5,0,0,0,1,2015-07-10,179,51,38,239.554,31,1,0,0,2,7,4
6,0,0,0,1,2015-07-17,361,52,28,239.554,27,1,1,4,8,7,4
7,0,0,0,1,2015-07-24,260,50,36,239.554,23,1,4,0,4,7,4
8,0,0,1,0,2015-07-06,155,12,34,239.554,25,1,2,0,40,7,0
9,0,0,0,1,2015-07-13,235,11,37,239.554,29,3,1,1,8,7,0

In [40]:
print(type(df_date_reason_mod['Transportation Expense'][0]))
print(type(df_date_reason_mod['Distance to Work'][0]))
print(type(df_date_reason_mod['Daily Work Load Average'][0]))
print(type(df_date_reason_mod['Age'][0]))
print(type(df_date_reason_mod['Body Mass Index'][0]))
print(type(df_date_reason_mod['Education'][0]))

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>

In [41]:
df_date_reason_mod['Education'].unique()

array([1, 3, 2, 4], dtype=int64)

In [42]:

df_date_reason_mod['Education'].value_counts()

1    583
3     73
2     40
4      4
Name: Education, dtype: int64

In [43]:
# creating dummy variables using map (0 for highschool , 1 for others)
# mapping {highschool->0 key:value}
df_date_reason_mod['Education'] = df_date_reason_mod['Education'].map({1:0,2:1,3:1,4:1})
# if number of keys != number of values that will result in either naN or error 
# 1,2,3,4 are keys and [0,1] are values to these keys

In [44]:
df_date_reason_mod['Education'].unique()

array([0, 1], dtype=int64)

In [45]:
df_date_reason_mod['Education'].value_counts()

0    583
1    117
Name: Education, dtype: int64

In [46]:
df_date_reason_mod = df_date_reason_mod.drop(['Date'], axis = 1)

In [48]:
df_date_reason_mod.columns.values

array(['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the Week'], dtype=object)

In [49]:
reason_month_week_col = ['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4','Month Value',
       'Day of the Week',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours']

In [50]:
df_date_reason_mod = df_date_reason_mod[reason_month_week_col]

In [51]:
df_preprocessed = df_date_reason_mod.copy()
df_preprocessed.head(15)
df_preprocessed.describe()

,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
count,700.000000,700.000000,700.000000,700.000000,700.00000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,0.250000,0.008571,0.090000,0.597143,6.36000,2.011429,222.347143,29.892857,36.417143,271.801774,26.737143,0.167143,1.021429,0.687143,6.761429
std,0.433322,0.092250,0.286386,0.490823,3.50501,1.480396,66.312960,14.804446,6.379083,40.021804,4.254701,0.373370,1.112215,1.166095,12.670082
min,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,118.000000,5.000000,27.000000,205.917000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,3.00000,1.000000,179.000000,16.000000,31.000000,241.476000,24.000000,0.000000,0.000000,0.000000,2.000000
50%,0.000000,0.000000,0.000000,1.000000,6.00000,2.000000,225.000000,26.000000,37.000000,264.249000,25.000000,0.000000,1.000000,0.000000,3.000000
75%,0.250000,0.000000,0.000000,1.000000,10.00000,3.000000,260.000000,50.000000,40.000000,294.217000,31.000000,0.000000,2.000000,1.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,12.00000,6.000000,388.000000,52.000000,58.000000,378.884000,38.000000,1.000000,4.000000,8.000000,120.000000

In [52]:
df_preprocessed.to_csv("ahmed_preprocessed.csv")

# Recap 
## Preprocessing stage : In a nutshell , It's the stage where you need to get your data complete , correlated (later on using regression) and has a numerical meaning for the python libraries to work on
### you can use .info() or .describe() to get insights for the data infront of you 
####   - .info() : displays the count of records + type of each record 
####   - .describe() : returns statistical info (count , mean , std,min,max,quartiles)
### after checking on missing entries , We have three categories of data 
#### i) useless and deluding data : such as IDs , we can omit them 
#### ii) categorical data : we can convert them into meaningful numbers using quantitative analysis either by 
#####      1- Creating predefined (automated) dummy variables by using pandas get_dummies (splits itself into external dataframe derived from chosen one)
#####      2- Creating user-defined dummy variables by using the map function (changes the column in its place)
#### iii) Dates : we make sure to convert them into Timestamps with defined format on our choice 

# Important Notes 
## 1- Make sure to be working on a copy from the original file 
## 2- Make sure to be saving checkpoints (so you only run 1 needed cell) 
## 3- No reflection occurs to the files unless the kernel is restarted 
## 4- No reflection occurs from the drop function if no assignment statement is used (it gives only a temporary output for the expected shape after drop)
## 5- useful keywords to look for in this notebook (loc,head,value_counts,map,weekday,apply,.to_datetime,concat,shape)
## 6- Renaming columns method is different to reordering them 

# Hacks 
### 1- get_dummies display zeros and ones if condition drop_first was not used , but if used you will have to specify that you want "1s and 0s" not "Trues or Falses" by making the dtype = int 

### 2- You can query using the loc function

### 3- for the date