In [1]:
import pandas as pd

In [2]:
raw_csv_data = pd.read_csv("Absenteeism_data.csv")
df = raw_csv_data.copy()
pd.options.display.max_columns = None
pd.options.display.max_rows = None
reason_columns = pd.get_dummies(df['Reason for Absence'], drop_first = True)
reason_type_1 = reason_columns.loc[:,1:14].max(axis = 1)
reason_type_2 = reason_columns.loc[:,15:17].max(axis = 1)
reason_type_3 = reason_columns.loc[:,18:21].max(axis = 1)
reason_type_4 = reason_columns.loc[:,22:].max(axis = 1)
df = df.drop(['ID'], axis = 1)
df = df.drop(['Reason for Absence'],axis = 1)
df = pd.concat([df,reason_type_1,reason_type_2,reason_type_3,reason_type_4], axis=1)
new_column_names = ['Date', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Reason 1', 'Reason 2', 'Reason 3', 'Reason 4']
df.columns = new_column_names
column_names_reordered = ['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4','Date', 'Transportation Expense', 'Distance to Work', 'Age',
         'Daily Work Load Average', 'Body Mass Index', 'Education',
            'Children', 'Pets', 'Absenteeism Time in Hours']
df = df[column_names_reordered]
df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = pd.to_datetime(df['Date'], format ='%D/%m/%Y')
list_months = []
for i in range(df.shape[0]):
    list_months.append(df['Date'][i].month)
df['Month Value'] = list_months
def date_to_weekday(date_value):
    return date_value.weekday()
df['Day of the Week'] = df['Date'].apply(date_to_weekday)
df = df.drop(['Date'], axis = 1)
df['Education'] = df['Education'].map({1:0,2:1,3:1,4:1})
df_preprocessed = df.copy()
df_preprocessed.to_csv('Absenteeism_preprocessed.csv', index = False)
df_preprocessed.head()

,Reason 1,Reason 2,Reason 3,Reason 4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the Week
0,0,0,0,1,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,289,36,33,239.554,30,0,2,1,2,7,3